.hand-cards {
  position: relative;
  height: var(--card-height);


  .card {
    position: absolute;

    &:hover {
      z-index: 81 !important;
      background-color: black;
      cursor: pointer;
    }
  }

  &.overflow {
    display: flex;

    .card {
      position: initial;
    }
  }

  &.hand-cards-1 {
    width: calc(var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(0deg);
    }
  }

  &.hand-cards-2 {
    width: calc(2 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-2deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(2deg);
    }
  }

  &.hand-cards-3 {
    width: calc(3 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-2deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(0deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(2deg);
    }
  }

  &.hand-cards-4 {
    width: calc(4 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-2deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(0deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(2deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(4deg);
    }
  }

  &.hand-cards-5 {
    width: calc(5 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-2deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(0deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(2deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(4deg);
    }

    .card:nth-child(5) {
      left: calc(var(--card-width) * 2.5);
      transform: rotate(6deg);
    }
  }

  &.hand-cards-6 {
    width: calc(6 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-2deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(0deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(2deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(4deg);
    }

    .card:nth-child(5) {
      left: calc(var(--card-width) * 2.5);
      transform: rotate(6deg);
    }

    .card:nth-child(6) {
      left: calc(var(--card-width) * 3);
      transform: rotate(8deg);
    }
  }

  &.hand-cards-7 {
    width: calc(7 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-5deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(0deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(5deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(10deg);
    }

    .card:nth-child(5) {
      left: calc(var(--card-width) * 2.5);
      transform: rotate(15deg);
    }

    .card:nth-child(6) {
      left: calc(var(--card-width) * 3);
      transform: rotate(20deg);
    }

    .card:nth-child(7) {
      left: calc(var(--card-width) * 3.5);
      transform: rotate(25deg);
    }
  }

  &.hand-cards-8 {
    width: calc(8 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-10deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(-5deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(0deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(5deg);
    }

    .card:nth-child(5) {
      left: calc(var(--card-width) * 2.5);
      transform: rotate(10deg);
    }

    .card:nth-child(6) {
      left: calc(var(--card-width) * 3);
      transform: rotate(15deg);
    }

    .card:nth-child(7) {
      left: calc(var(--card-width) * 3.5);
      transform: rotate(20deg);
    }

    .card:nth-child(8) {
      left: calc(var(--card-width) * 4);
      transform: rotate(25deg);
    }
  }

  &.hand-cards-9 {
    width: calc(9 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-15deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(-10deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(-5deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(0deg);
    }

    .card:nth-child(5) {
      left: calc(var(--card-width) * 2.5);
      transform: rotate(5deg);
    }

    .card:nth-child(6) {
      left: calc(var(--card-width) * 3);
      transform: rotate(10deg);
    }

    .card:nth-child(7) {
      left: calc(var(--card-width) * 3.5);
      transform: rotate(15deg);
    }

    .card:nth-child(8) {
      left: calc(var(--card-width) * 4);
      transform: rotate(20deg);
    }

    .card:nth-child(9) {
      left: calc(var(--card-width) * 4.5);
      transform: rotate(25deg);
    }
  }

  &.hand-cards-10 {
    width: calc(10 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-20deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(-15deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(-10deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(-5deg);
    }

    .card:nth-child(5) {
      left: calc(var(--card-width) * 2.5);
      transform: rotate(0deg);
    }

    .card:nth-child(6) {
      left: calc(var(--card-width) * 3);
      transform: rotate(5deg);
    }

    .card:nth-child(7) {
      left: calc(var(--card-width) * 3.5);
      transform: rotate(10deg);
    }

    .card:nth-child(8) {
      left: calc(var(--card-width) * 4);
      transform: rotate(15deg);
    }

    .card:nth-child(9) {
      left: calc(var(--card-width) * 4.5);
      transform: rotate(20deg);
    }

    .card:nth-child(10) {
      left: calc(var(--card-width) * 5);
      transform: rotate(25deg);
    }
  }

  &.hand-cards-11 {
    width: calc(11 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-25deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(-20deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(-15deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(-10deg);
    }

    .card:nth-child(5) {
      left: calc(var(--card-width) * 2.5);
      transform: rotate(-5deg);
    }

    .card:nth-child(6) {
      left: calc(var(--card-width) * 3);
      transform: rotate(0deg);
    }

    .card:nth-child(7) {
      left: calc(var(--card-width) * 3.5);
      transform: rotate(5deg);
    }

    .card:nth-child(8) {
      left: calc(var(--card-width) * 4);
      transform: rotate(10deg);
    }

    .card:nth-child(9) {
      left: calc(var(--card-width) * 4.5);
      transform: rotate(15deg);
    }

    .card:nth-child(10) {
      left: calc(var(--card-width) * 5);
      transform: rotate(20deg);
    }

    .card:nth-child(11) {
      left: calc(var(--card-width) * 5.5);
      transform: rotate(25deg);
    }
  }

  &.hand-cards-12 {
    width: calc(12 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-30deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(-25deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(-20deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(-15deg);
    }

    .card:nth-child(5) {
      left: calc(var(--card-width) * 2.5);
      transform: rotate(-10deg);
    }

    .card:nth-child(6) {
      left: calc(var(--card-width) * 3);
      transform: rotate(-5deg);
    }

    .card:nth-child(7) {
      left: calc(var(--card-width) * 3.5);
      transform: rotate(0deg);
    }

    .card:nth-child(8) {
      left: calc(var(--card-width) * 4);
      transform: rotate(5deg);
    }

    .card:nth-child(9) {
      left: calc(var(--card-width) * 4.5);
      transform: rotate(10deg);
    }

    .card:nth-child(10) {
      left: calc(var(--card-width) * 5);
      transform: rotate(15deg);
    }

    .card:nth-child(11) {
      left: calc(var(--card-width) * 5.5);
      transform: rotate(20deg);
    }

    .card:nth-child(12) {
      left: calc(var(--card-width) * 6);
      transform: rotate(25deg);
    }
  }

  &.hand-cards-13 {
    width: calc(13 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-35deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(-30deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(-25deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(-20deg);
    }

    .card:nth-child(5) {
      left: calc(var(--card-width) * 2.5);
      transform: rotate(-15deg);
    }

    .card:nth-child(6) {
      left: calc(var(--card-width) * 3);
      transform: rotate(-10deg);
    }

    .card:nth-child(7) {
      left: calc(var(--card-width) * 3.5);
      transform: rotate(-5deg);
    }

    .card:nth-child(8) {
      left: calc(var(--card-width) * 4);
      transform: rotate(0deg);
    }

    .card:nth-child(9) {
      left: calc(var(--card-width) * 4.5);
      transform: rotate(5deg);
    }

    .card:nth-child(10) {
      left: calc(var(--card-width) * 5);
      transform: rotate(10deg);
    }

    .card:nth-child(11) {
      left: calc(var(--card-width) * 5.5);
      transform: rotate(15deg);
    }

    .card:nth-child(12) {
      left: calc(var(--card-width) * 6);
      transform: rotate(20deg);
    }

    .card:nth-child(13) {
      left: calc(var(--card-width) * 6.5);
      transform: rotate(25deg);
    }
  }

  &.hand-cards-14 {
    width: calc(14 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-40deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(-35deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(-30deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(-25deg);
    }

    .card:nth-child(5) {
      left: calc(var(--card-width) * 2.5);
      transform: rotate(-20deg);
    }

    .card:nth-child(6) {
      left: calc(var(--card-width) * 3);
      transform: rotate(-15deg);
    }

    .card:nth-child(7) {
      left: calc(var(--card-width) * 3.5);
      transform: rotate(-10deg);
    }

    .card:nth-child(8) {
      left: calc(var(--card-width) * 4);
      transform: rotate(-5deg);
    }

    .card:nth-child(9) {
      left: calc(var(--card-width) * 4.5);
      transform: rotate(0deg);
    }

    .card:nth-child(10) {
      left: calc(var(--card-width) * 5);
      transform: rotate(5deg);
    }

    .card:nth-child(11) {
      left: calc(var(--card-width) * 5.5);
      transform: rotate(10deg);
    }

    .card:nth-child(12) {
      left: calc(var(--card-width) * 6);
      transform: rotate(15deg);
    }

    .card:nth-child(13) {
      left: calc(var(--card-width) * 6.5);
      transform: rotate(20deg);
    }

    .card:nth-child(14) {
      left: calc(var(--card-width) * 7);
      transform: rotate(25deg);
    }
  }

  &.hand-cards-15 {
    width: calc(15 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-45deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(-40deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(-35deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(-30deg);
    }

    .card:nth-child(5) {
      left: calc(var(--card-width) * 2.5);
      transform: rotate(-25deg);
    }

    .card:nth-child(6) {
      left: calc(var(--card-width) * 3);
      transform: rotate(-20deg);
    }

    .card:nth-child(7) {
      left: calc(var(--card-width) * 3.5);
      transform: rotate(-15deg);
    }

    .card:nth-child(8) {
      left: calc(var(--card-width) * 4);
      transform: rotate(-10deg);
    }

    .card:nth-child(9) {
      left: calc(var(--card-width) * 4.5);
      transform: rotate(-5deg);
    }

    .card:nth-child(10) {
      left: calc(var(--card-width) * 5);
      transform: rotate(0deg);
    }

    .card:nth-child(11) {
      left: calc(var(--card-width) * 5.5);
      transform: rotate(5deg);
    }

    .card:nth-child(12) {
      left: calc(var(--card-width) * 6);
      transform: rotate(10deg);
    }

    .card:nth-child(13) {
      left: calc(var(--card-width) * 6.5);
      transform: rotate(15deg);
    }

    .card:nth-child(14) {
      left: calc(var(--card-width) * 7);
      transform: rotate(20deg);
    }

    .card:nth-child(15) {
      left: calc(var(--card-width) * 7.5);
      transform: rotate(25deg);
    }
  }

  &.hand-cards-16 {
    width: calc(16 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-50deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(-45deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(-40deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(-35deg);
    }

    .card:nth-child(5) {
      left: calc(var(--card-width) * 2.5);
      transform: rotate(-30deg);
    }

    .card:nth-child(6) {
      left: calc(var(--card-width) * 3);
      transform: rotate(-25deg);
    }

    .card:nth-child(7) {
      left: calc(var(--card-width) * 3.5);
      transform: rotate(-20deg);
    }

    .card:nth-child(8) {
      left: calc(var(--card-width) * 4);
      transform: rotate(-15deg);
    }

    .card:nth-child(9) {
      left: calc(var(--card-width) * 4.5);
      transform: rotate(-10deg);
    }

    .card:nth-child(10) {
      left: calc(var(--card-width) * 5);
      transform: rotate(-5deg);
    }

    .card:nth-child(11) {
      left: calc(var(--card-width) * 5.5);
      transform: rotate(0deg);
    }

    .card:nth-child(12) {
      left: calc(var(--card-width) * 6);
      transform: rotate(5deg);
    }

    .card:nth-child(13) {
      left: calc(var(--card-width) * 6.5);
      transform: rotate(10deg);
    }

    .card:nth-child(14) {
      left: calc(var(--card-width) * 7);
      transform: rotate(15deg);
    }

    .card:nth-child(15) {
      left: calc(var(--card-width) * 7.5);
      transform: rotate(20deg);
    }

    .card:nth-child(16) {
      left: calc(var(--card-width) * 8);
      transform: rotate(25deg);

    }
  }

  &.hand-cards-17 {
    width: calc(17 * var(--card-width) * 0.63);

    .card:nth-child(1) {
      left: calc(var(--card-width) * 0.5);
      transform: rotate(-55deg);
    }

    .card:nth-child(2) {
      left: calc(var(--card-width) * 1);
      transform: rotate(-50deg);
    }

    .card:nth-child(3) {
      left: calc(var(--card-width) * 1.5);
      transform: rotate(-45deg);
    }

    .card:nth-child(4) {
      left: calc(var(--card-width) * 2);
      transform: rotate(-40deg);
    }

    .card:nth-child(5) {
      left: calc(var(--card-width) * 2.5);
      transform: rotate(-35deg);
    }

    .card:nth-child(6) {
      left: calc(var(--card-width) * 3);
      transform: rotate(-30deg);
    }

    .card:nth-child(7) {
      left: calc(var(--card-width) * 3.5);
      transform: rotate(-25deg);
    }

    .card:nth-child(8) {
      left: calc(var(--card-width) * 4);
      transform: rotate(-20deg);
    }

    .card:nth-child(9) {
      left: calc(var(--card-width) * 4.5);
      transform: rotate(-15deg);
    }

    .card:nth-child(10) {
      left: calc(var(--card-width) * 5);
      transform: rotate(-10deg);
    }

    .card:nth-child(11) {
      left: calc(var(--card-width) * 5.5);
      transform: rotate(-5deg);
    }

    .card:nth-child(12) {
      left: calc(var(--card-width) * 6);
      transform: rotate(0deg);
    }

    .card:nth-child(13) {
      left: calc(var(--card-width) * 6.5);
      transform: rotate(5deg);
    }

    .card:nth-child(14) {
      left: calc(var(--card-width) * 7);
      transform: rotate(10deg);
    }

    .card:nth-child(15) {
      left: calc(var(--card-width) * 7.5);
      transform: rotate(15deg);
    }

    .card:nth-child(16) {
      left: calc(var(--card-width) * 8);
      transform: rotate(20deg);
    }

    .card:nth-child(17) {
      left: calc(var(--card-width) * 8.5);
      transform: rotate(25deg);
    }
  }
}
