.hand-cards {
  position: relative;
  height: var(--card-height);

  .card {
    position: absolute;
    transition: left 0.3s ease-in-out;

    &:hover {
      //z-index: 81 !important;
      //background-color: black;
      cursor: pointer;
    }
  }
}
